<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Theatreers.Artifacts" value="https://theatreers.pkgs.visualstudio.com/_packaging/theatreers.Artifacts/nuget/v3/index.json" />
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>